body {
    background: lightgray;
    font-family: "Open Sans";
}

body h1 {
    max-height: 10vh;
    text-align: center;
}

div {
    border-radius: 5px;
    padding: 3px;
}

.section {
    padding-left: 15px;
    transition: 1s;
}

.item-level-1 {
    background: #81D8D0;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.item-level-2 {
    background: rgb(183, 139, 192);
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.item-level-1:hover, .item-level-2:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: underline;
}

.header1 {
    background: brown;
    color: white;
}

.header2 {
    background: darkgreen;
    color: white;
}

.header3 {
    background: #654321;
    color: yellow;
}

.header4 {
    background: rgb(30, 112, 133);
    color: white;
}

.subheader {
    color: rgb(218, 65, 65);
}

.category {
    background: pink;
    color: black;
}

.drug-list {
    background: beige;
    border-radius: 5px;
    color: black;
    margin: 0;
}

#ChangeView {
    position: absolute;
    top: 10px;
    right: 10px;
}

.toggle-button {
    background: white;
    border: 1px transparent solid;
    cursor: pointer;
    padding: 5px 10px;
}

.toggle-button.selected {
    background: red;
    color: white;
    cursor: default;
}

.toggle-button:not(.selected):hover {
    background: rgb(255, 230, 230);
}

.toggle-button:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: 0px;
}

.toggle-button:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-right: 0px;
}

#Split {
    display: flex;
}

#SplitWindow {
    flex: 2;
}

#Split, #SplitWindow, #SplitSelection {
    padding: 0;
}

#SplitWindow, #SplitSelection {
    max-height: 89vh;
    overflow-y: auto;
}